<div style='height:60vh;
            width:100%;
            background-image:url(<%= image_url %>);
            background-size:cover;
            background-position: center;
            color:white;'
    class="d-flex justify-content-center align-items-center">
    <h1>Save any kind of movies</h1>
</div>