<div style="height:60vh;
            width:100%;
            background-image:url('https://harborhonolulu.org/wp-content/uploads/2019/05/movie-theater-background.jpg');
            background-size:cover;
            background-position: center;
            color:white"
    class="d-flex justify-content-center align-items-center">
    <h1>Save any kind of movies</h1>
</div>