<div style="height:50vh;
            width:100%;
            background-image:url('<%= cl_image_path key %>');
            background-size:cover;
            background-position:center;
            color:white;"
    class="d-flex justify-content-center align-items-center">
    <h1><%= text %></h1>
</div>