<nav class="navbar navbar-expand-lg navbar-light bg-white" style="position:sticky">
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <%= image_tag 'popcorn', alttext: "", class:"navbar-brand", width:"70" ,height:"70" %>
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
      <%= link_to  "Home", lists_path, class:"nav-link" %>
      </li>
    </ul>
  </div>
</nav>